.vscode
answerfile.yml
licenses*.yml
license*.yml
config*.yml
software.yml
templates.yml
__ORIG_nsxt_modules/*

# Ensure the following files below are EXCLUDED from the matching .gitignore files above, and thus, ARE replicated to the repo.
!config_sample_WithSections.yml
!config_sample.yml
!templates_sample.yml
!software_sample.yml
!licenses_sample.yml
!playbooks/*
!templates/*
!utils/*
!tests/*