# Ansible v6.4.0 resolves issue of lengthy CreatePodConfig.yml times which Ansible v7.x produced.
ansible==6.4.0
pyvim
pyvmomi 
netaddr 
jmespath
dnspython
paramiko
setuptools
testresources
cryptography
git+https://github.com/vmware/vsphere-automation-sdk-python.git