# ansible v10.1.0 causes '#!/usr/bin/env python' statements in library modules to fail with the following error: "/bin/sh: 1: /usr/bin/env python: not found\n"
# This issue is not present in v9.7.0
ansible==9.7.0
pyvim
pyvmomi
pyopenssl 
netaddr 
jmespath
dnspython
# Do not replace paramiko with ansible-pylibssh, as pushing config to VyoS router times out when ansible-pylibssh is used.
paramiko
setuptools
testresources
cryptography
git+https://github.com/vmware/vsphere-automation-sdk-python.git
