ansible==10.7.0
pyvim
pyvmomi
vmware-vcenter
vmware-vapi-common-client
pyopenssl
netaddr
jmespath
dnspython
# Do not replace paramiko with ansible-pylibssh, as pushing config to VyoS router times out when ansible-pylibssh is used.
paramiko
setuptools
testresources
cryptography
git+https://github.com/vmware/vsphere-automation-sdk-python.git
