set interfaces ethernet eth1 vif 2500 address '10.203.250.1/28'
set interfaces ethernet eth1 vif 2500 description 'HCX Network 0 - 10.203.250.0/28'
set interfaces ethernet eth1 vif 2500 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-0 authoritative
set service dhcp-server shared-network-name net-10-203-250-0 subnet 10.203.250.0/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-0 subnet 10.203.250.0/28 option default-router '10.203.250.1'
set service dhcp-server shared-network-name net-10-203-250-0 subnet 10.203.250.0/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-0 subnet 10.203.250.0/28 range ServiceVMRange start '10.203.250.2'
set service dhcp-server shared-network-name net-10-203-250-0 subnet 10.203.250.0/28 range ServiceVMRange stop  '10.203.250.14'
set service dhcp-server shared-network-name net-10-203-250-0 subnet 10.203.250.0/28 subnet-id '250000'



set interfaces ethernet eth1 vif 2501 address '10.203.250.17/28'
set interfaces ethernet eth1 vif 2501 description 'HCX Network 1 - 10.203.250.16/28'
set interfaces ethernet eth1 vif 2501 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-16 authoritative
set service dhcp-server shared-network-name net-10-203-250-16 subnet 10.203.250.16/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-16 subnet 10.203.250.16/28 option default-router '10.203.250.17'
set service dhcp-server shared-network-name net-10-203-250-16 subnet 10.203.250.16/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-16 subnet 10.203.250.16/28 range ServiceVMRange start '10.203.250.18'
set service dhcp-server shared-network-name net-10-203-250-16 subnet 10.203.250.16/28 range ServiceVMRange stop  '10.203.250.30'
set service dhcp-server shared-network-name net-10-203-250-16 subnet 10.203.250.16/28 subnet-id '250016'


set interfaces ethernet eth1 vif 2502 address '10.203.250.33/28'
set interfaces ethernet eth1 vif 2502 description 'HCX Network 2 - 10.203.250.32/28'
set interfaces ethernet eth1 vif 2502 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-32 authoritative
set service dhcp-server shared-network-name net-10-203-250-32 subnet 10.203.250.32/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-32 subnet 10.203.250.32/28 option default-router '10.203.250.33'
set service dhcp-server shared-network-name net-10-203-250-32 subnet 10.203.250.32/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-32 subnet 10.203.250.32/28 range ServiceVMRange start '10.203.250.34'
set service dhcp-server shared-network-name net-10-203-250-32 subnet 10.203.250.32/28 range ServiceVMRange stop  '10.203.250.46'
set service dhcp-server shared-network-name net-10-203-250-32 subnet 10.203.250.32/28 subnet-id '250032'


set interfaces ethernet eth1 vif 2503 address '10.203.250.49/28'
set interfaces ethernet eth1 vif 2503 description 'HCX Network 3 - 10.203.250.48/28'
set interfaces ethernet eth1 vif 2503 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-48 authoritative
set service dhcp-server shared-network-name net-10-203-250-48 subnet 10.203.250.48/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-48 subnet 10.203.250.48/28 option default-router '10.203.250.49'
set service dhcp-server shared-network-name net-10-203-250-48 subnet 10.203.250.48/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-48 subnet 10.203.250.48/28 range ServiceVMRange start '10.203.250.50'
set service dhcp-server shared-network-name net-10-203-250-48 subnet 10.203.250.48/28 range ServiceVMRange stop  '10.203.250.62'
set service dhcp-server shared-network-name net-10-203-250-48 subnet 10.203.250.48/28 subnet-id '250048'


set interfaces ethernet eth1 vif 2504 address '10.203.250.65/28'
set interfaces ethernet eth1 vif 2504 description 'HCX Network 4 - 10.203.250.64/28'
set interfaces ethernet eth1 vif 2504 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-64 authoritative
set service dhcp-server shared-network-name net-10-203-250-64 subnet 10.203.250.64/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-64 subnet 10.203.250.64/28 option default-router '10.203.250.65'
set service dhcp-server shared-network-name net-10-203-250-64 subnet 10.203.250.64/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-64 subnet 10.203.250.64/28 range ServiceVMRange start '10.203.250.66'
set service dhcp-server shared-network-name net-10-203-250-64 subnet 10.203.250.64/28 range ServiceVMRange stop  '10.203.250.78'
set service dhcp-server shared-network-name net-10-203-250-64 subnet 10.203.250.64/28 subnet-id '250064'


set interfaces ethernet eth1 vif 2505 address '10.203.250.81/28'
set interfaces ethernet eth1 vif 2505 description 'HCX Network 5 - 10.203.250.80/28'
set interfaces ethernet eth1 vif 2505 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-80 authoritative
set service dhcp-server shared-network-name net-10-203-250-80 subnet 10.203.250.80/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-80 subnet 10.203.250.80/28 option default-router '10.203.250.81'
set service dhcp-server shared-network-name net-10-203-250-80 subnet 10.203.250.80/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-80 subnet 10.203.250.80/28 range ServiceVMRange start '10.203.250.82'
set service dhcp-server shared-network-name net-10-203-250-80 subnet 10.203.250.80/28 range ServiceVMRange stop  '10.203.250.94'
set service dhcp-server shared-network-name net-10-203-250-80 subnet 10.203.250.80/28 subnet-id '250080'


set interfaces ethernet eth1 vif 2506 address '10.203.250.97/28'
set interfaces ethernet eth1 vif 2506 description 'HCX Network 6 - 10.203.250.96/28'
set interfaces ethernet eth1 vif 2506 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-96 authoritative
set service dhcp-server shared-network-name net-10-203-250-96 subnet 10.203.250.96/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-96 subnet 10.203.250.96/28 option default-router '10.203.250.97'
set service dhcp-server shared-network-name net-10-203-250-96 subnet 10.203.250.96/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-96 subnet 10.203.250.96/28 range ServiceVMRange start '10.203.250.98'
set service dhcp-server shared-network-name net-10-203-250-96 subnet 10.203.250.96/28 range ServiceVMRange stop  '10.203.250.110'
set service dhcp-server shared-network-name net-10-203-250-96 subnet 10.203.250.96/28 subnet-id '250096'


set interfaces ethernet eth1 vif 2507 address '10.203.250.113/28'
set interfaces ethernet eth1 vif 2507 description 'HCX Network 7 - 10.203.250.112/28'
set interfaces ethernet eth1 vif 2507 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-112 authoritative
set service dhcp-server shared-network-name net-10-203-250-112 subnet 10.203.250.112/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-112 subnet 10.203.250.112/28 option default-router '10.203.250.113'
set service dhcp-server shared-network-name net-10-203-250-112 subnet 10.203.250.112/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-112 subnet 10.203.250.112/28 range ServiceVMRange start '10.203.250.114'
set service dhcp-server shared-network-name net-10-203-250-112 subnet 10.203.250.112/28 range ServiceVMRange stop  '10.203.250.126'
set service dhcp-server shared-network-name net-10-203-250-112 subnet 10.203.250.112/28 subnet-id '250112'


set interfaces ethernet eth1 vif 2508 address '10.203.250.129/28'
set interfaces ethernet eth1 vif 2508 description 'HCX Network 8 - 10.203.250.128/28'
set interfaces ethernet eth1 vif 2508 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-128 authoritative
set service dhcp-server shared-network-name net-10-203-250-128 subnet 10.203.250.128/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-128 subnet 10.203.250.128/28 option default-router '10.203.250.129'
set service dhcp-server shared-network-name net-10-203-250-128 subnet 10.203.250.128/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-128 subnet 10.203.250.128/28 range ServiceVMRange start '10.203.250.130'
set service dhcp-server shared-network-name net-10-203-250-128 subnet 10.203.250.128/28 range ServiceVMRange stop  '10.203.250.142'
set service dhcp-server shared-network-name net-10-203-250-128 subnet 10.203.250.128/28 subnet-id '250128'


set interfaces ethernet eth1 vif 2509 address '10.203.250.145/28'
set interfaces ethernet eth1 vif 2509 description 'HCX Network 9 - 10.203.250.144/28'
set interfaces ethernet eth1 vif 2509 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-144 authoritative
set service dhcp-server shared-network-name net-10-203-250-144 subnet 10.203.250.144/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-144 subnet 10.203.250.144/28 option default-router '10.203.250.145'
set service dhcp-server shared-network-name net-10-203-250-144 subnet 10.203.250.144/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-144 subnet 10.203.250.144/28 range ServiceVMRange start '10.203.250.146'
set service dhcp-server shared-network-name net-10-203-250-144 subnet 10.203.250.144/28 range ServiceVMRange stop  '10.203.250.158'
set service dhcp-server shared-network-name net-10-203-250-144 subnet 10.203.250.144/28 subnet-id '250144'


set interfaces ethernet eth1 vif 2510 address '10.203.250.161/28'
set interfaces ethernet eth1 vif 2510 description 'HCX Network 10 - 10.203.250.160/28'
set interfaces ethernet eth1 vif 2510 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-160 authoritative
set service dhcp-server shared-network-name net-10-203-250-160 subnet 10.203.250.160/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-160 subnet 10.203.250.160/28 option default-router '10.203.250.161'
set service dhcp-server shared-network-name net-10-203-250-160 subnet 10.203.250.160/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-160 subnet 10.203.250.160/28 range ServiceVMRange start '10.203.250.162'
set service dhcp-server shared-network-name net-10-203-250-160 subnet 10.203.250.160/28 range ServiceVMRange stop  '10.203.250.174'
set service dhcp-server shared-network-name net-10-203-250-160 subnet 10.203.250.160/28 subnet-id '250160'


set interfaces ethernet eth1 vif 2511 address '10.203.250.177/28'
set interfaces ethernet eth1 vif 2511 description 'HCX Network 11 - 10.203.250.176/28'
set interfaces ethernet eth1 vif 2511 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-176 authoritative
set service dhcp-server shared-network-name net-10-203-250-176 subnet 10.203.250.176/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-176 subnet 10.203.250.176/28 option default-router '10.203.250.177'
set service dhcp-server shared-network-name net-10-203-250-176 subnet 10.203.250.176/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-176 subnet 10.203.250.176/28 range ServiceVMRange start '10.203.250.178'
set service dhcp-server shared-network-name net-10-203-250-176 subnet 10.203.250.176/28 range ServiceVMRange stop  '10.203.250.190'
set service dhcp-server shared-network-name net-10-203-250-176 subnet 10.203.250.176/28 subnet-id '250176'


set interfaces ethernet eth1 vif 2512 address '10.203.250.193/28'
set interfaces ethernet eth1 vif 2512 description 'HCX Network 12 - 10.203.250.192/28'
set interfaces ethernet eth1 vif 2512 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-192 authoritative
set service dhcp-server shared-network-name net-10-203-250-192 subnet 10.203.250.192/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-192 subnet 10.203.250.192/28 option default-router '10.203.250.193'
set service dhcp-server shared-network-name net-10-203-250-192 subnet 10.203.250.192/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-192 subnet 10.203.250.192/28 range ServiceVMRange start '10.203.250.194'
set service dhcp-server shared-network-name net-10-203-250-192 subnet 10.203.250.192/28 range ServiceVMRange stop  '10.203.250.206'
set service dhcp-server shared-network-name net-10-203-250-192 subnet 10.203.250.192/28 subnet-id '250192'


set interfaces ethernet eth1 vif 2513 address '10.203.250.209/28'
set interfaces ethernet eth1 vif 2513 description 'HCX Network 13 - 10.203.250.208/28'
set interfaces ethernet eth1 vif 2513 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-208 authoritative
set service dhcp-server shared-network-name net-10-203-250-208 subnet 10.203.250.208/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-208 subnet 10.203.250.208/28 option default-router '10.203.250.209'
set service dhcp-server shared-network-name net-10-203-250-208 subnet 10.203.250.208/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-208 subnet 10.203.250.208/28 range ServiceVMRange start '10.203.250.210'
set service dhcp-server shared-network-name net-10-203-250-208 subnet 10.203.250.208/28 range ServiceVMRange stop  '10.203.250.222'
set service dhcp-server shared-network-name net-10-203-250-208 subnet 10.203.250.208/28 subnet-id '250208'


set interfaces ethernet eth1 vif 2514 address '10.203.250.225/28'
set interfaces ethernet eth1 vif 2514 description 'HCX Network 14 - 10.203.250.224/28'
set interfaces ethernet eth1 vif 2514 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-224 authoritative
set service dhcp-server shared-network-name net-10-203-250-224 subnet 10.203.250.224/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-224 subnet 10.203.250.224/28 option default-router '10.203.250.225'
set service dhcp-server shared-network-name net-10-203-250-224 subnet 10.203.250.224/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-224 subnet 10.203.250.224/28 range ServiceVMRange start '10.203.250.226'
set service dhcp-server shared-network-name net-10-203-250-224 subnet 10.203.250.224/28 range ServiceVMRange stop  '10.203.250.238'
set service dhcp-server shared-network-name net-10-203-250-224 subnet 10.203.250.224/28 subnet-id '250224'


set interfaces ethernet eth1 vif 2515 address '10.203.250.241/28'
set interfaces ethernet eth1 vif 2515 description 'HCX Network 15 - 10.203.250.240/28'
set interfaces ethernet eth1 vif 2515 mtu '1500'

set service dhcp-server shared-network-name net-10-203-250-240 authoritative
set service dhcp-server shared-network-name net-10-203-250-240 subnet 10.203.250.240/28 lease '300'
set service dhcp-server shared-network-name net-10-203-250-240 subnet 10.203.250.240/28 option default-router '10.203.250.241'
set service dhcp-server shared-network-name net-10-203-250-240 subnet 10.203.250.240/28 option name-server '10.203.0.5'
set service dhcp-server shared-network-name net-10-203-250-240 subnet 10.203.250.240/28 range ServiceVMRange start '10.203.250.242'
set service dhcp-server shared-network-name net-10-203-250-240 subnet 10.203.250.240/28 range ServiceVMRange stop  '10.203.250.254'
set service dhcp-server shared-network-name net-10-203-250-240 subnet 10.203.250.240/28 subnet-id '250240'

