{#
 #  This Jinja2 template generates OS specific items that are used by other templates and plays.
 #  Currently, this just has the interface naming scheme for the Ubuntu Server version that
 #  this deployment is designed for.
 #
 #  As future versions are developed, this file will need to be modified to match the specific
 #  interface names found within the operating system.
 #
 #}
bios:
  network:
    adapters: [ens192, ens224, ens256, ens161, ens193, ens225, ens257, ens162, ens194, ens226]
efi:
  network:
    adapters: [ens33, ens35, ens36, ens37, ens38, ens39, ens40, ens41, ens42, ens43]