network:
  ethernets:
    ens192:
      addresses:
      - {{ LOCAL_UbuntuOSIPv4Address }} 
      gateway4: {{ LOCAL_UbuntuOSIPv4Gateway }}
      nameservers:
        addresses:
        - {{ LOCAL_UbuntuOSIPv4DNS }}
        search:
        - {{ LOCAL_UbuntuOSSearchDomain }}
  version: 2