$TTL 604800
@ IN SOA dns.{{ Common.DNS.Domain | lower }}. admin.{{ Common.DNS.Domain | lower }}. (
          10   ; Serial
      604800   ; Refresh
       86400   ; Retry
     2419200   ; Expire
      604800 ) ; Negative Cache TTL
;

; Name servers
{{ LOCAL_BINDReverseZoneNameIPv4 }}.    IN   NS   dns.{{ Common.DNS.Domain | lower }}.

; A records for name servers
dns            IN   A    {{ Nested_Ubuntu.OS.Network.IPv4.Address }}

;Define origin
$ORIGIN {{ LOCAL_BINDReverseZoneNameIPv4 }}.

; PTR records
5.0    IN   PTR  dns.{{ Common.DNS.Domain | lower }}.