options {
  directory "/var/cache/bind";
  recursion yes;
  notify yes;
  allow-query { any; };
  allow-query-cache { any; };
  allow-recursion { any; };
  forwarders { {{ Nested_Ubuntu.OS.Packages.BIND.Forwarder.IPv4 }}; }; 
  dnssec-validation no;
  auth-nxdomain no; # conform to RFC1035
  listen-on { any; };
  listen-on-v6 { any; };
  allow-transfer { any; };
};