//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{ Common.DNS.Domain | lower }}" {
  type master;
  allow-update {any;};          // The Ansible Controller
  allow-transfer {any;};        // The Ansible Controller -- Used for testing
  file "/var/lib/bind/db.{{ Common.DNS.Domain | lower }}";
};

zone "{{ LOCAL_BINDReverseZoneNameIPv4 }}" {
  type master;
  allow-update {any;};          // The Ansible Controller
  allow-transfer {any;};        // The Ansible Controller -- Used for testing
  file "/var/lib/bind/db.{{ Pod.BaseNetwork.IPv4 }}";
};

zone "{{ LOCAL_BINDReverseZoneNameIPv6 }}" {
  type master;
  allow-update { any;};          // The Ansible Controller
  allow-transfer { any;};        // The Ansible Controller -- Used for testing
  file "/var/lib/bind/db.fd00"";
  notify yes;
};