{#
 #    Authors: Luis Chanu & Rutger Blom
 #    Filename: templates/DNSServer_v20.04.4_runbook.j2
 #    Used By: This file is used by the playbook deployDNS.yml
 #    Purpose: This Jinja2 template file is used to create the data structure that is provided to the modules in deployDNS.yml .
 #
 #}
Configuration:
  Templates:
    AutoInstall:
      - Name: UserData
        Source: {{ Target.TemplateFolder }}/Ubuntu_v20.04.4_user-data.j2
        LocalDestination:
        StageDestination:
        FinalDestination: {{ Target.WorkingFolder }}/{{ Deploy.Software.DNSServer.Installer }}/{{ Common.DNS.Domain }}/user-data
      - Name: MetaData
        Source: {{ Target.TemplateFolder }}/Ubuntu_v20.04.4_meta-data.j2
        LocalDestination:
        StageDestination:
        FinalDestination: {{ Target.WorkingFolder }}/{{ Deploy.Software.DNSServer.Installer }}/{{ Common.DNS.Domain }}/meta-data
    AfterBoot:
      - Name: NetPlan
        Source: {{ Target.TemplateFolder }}/Ubuntu_v20.04.4_Netplan.j2
        LocalDestination: {{ Target.WorkingFolder }}/00-installer-config.yaml
        StageDestination: /home/{{ Nested_DNSServer.OS.Credential.User }}/00-installer-config.yaml
        FinalDestination: /etc/netplan/00-installer-config.yaml
      - Name: BINDNamedConf
        Source: {{ Target.TemplateFolder }}/BIND_v9_named.conf
        LocalDestination: {{ Target.WorkingFolder }}/named.conf
        StageDestination: /home/{{ Nested_DNSServer.OS.Credential.User }}/named.conf
        FinalDestination: /etc/bind/named.conf
      - Name: BINDNamedConfOptions
        Source: {{ Target.TemplateFolder }}/BIND_v9_named.conf.options.j2
        LocalDestination: {{ Target.WorkingFolder }}/named.conf.options
        StageDestination: /home/{{ Nested_DNSServer.OS.Credential.User }}/named.conf.options
        FinalDestination: /etc/bind/named.conf.options
      - Name: BINDNamedConfLocal
        Source: {{ Target.TemplateFolder }}/BIND_v9_named.conf.local.j2
        LocalDestination: {{ Target.WorkingFolder }}/named.conf.local
        StageDestination: /home/{{ Nested_DNSServer.OS.Credential.User }}/named.conf.local
        FinalDestination: /etc/bind/named.conf.local
      - Name: BINDForwardZone
        Source: {{ Target.TemplateFolder }}/BIND_v9_db.forwardzone.j2
        LocalDestination: {{ Target.WorkingFolder }}/db.{{ Common.DNS.Domain | lower }}
        StageDestination: /home/{{ Nested_DNSServer.OS.Credential.User }}/db.{{ Common.DNS.Domain | lower }}
        FinalDestination: /var/lib/bind/db.{{ Common.DNS.Domain | lower }}
      - Name: BINDReverseZoneIPv4
        Source: {{ Target.TemplateFolder }}/BIND_v9_db.reversezoneipv4.j2
        LocalDestination: {{ Target.WorkingFolder }}/db.{{ Pod.BaseNetwork.IPv4 }}
        StageDestination: /home/{{ Nested_DNSServer.OS.Credential.User }}/db.{{ Pod.BaseNetwork.IPv4 }}
        FinalDestination: /var/lib/bind/db.{{ Pod.BaseNetwork.IPv4 }}
      - Name: BINDReverseZoneIPv6
        Source: {{ Target.TemplateFolder }}/BIND_v9_db.reversezoneipv6.j2
        LocalDestination: {{ Target.WorkingFolder }}/db.fd
        StageDestination: /home/{{ Nested_DNSServer.OS.Credential.User }}/db.fd
        FinalDestination: /var/lib/bind/db.fd
  Packages:
    - Name: dns-server^
      Daemon: named
    - Name: ntp
      Daemon: ntp
    - Name: net-tools
      Daemon:
    - Name: ntpstat
      Daemon:
    - Name: software-properties-common
      Daemon:
    - Name: apt-transport-https
      Daemon:
    - Name: wget
      Daemon:
    - Name: webmin
      Daemon:
  Commands:
    - Name: echo '{{ Nested_DNSServer.OS.Credential.User }} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/ubuntu # Allow user to run sudo without password. Required for successfull post configuration.
  Directories:
    - Name:  LogDir
      Path: /var/log/named
      Owner: bind:bind