# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password
rootpw {{ Common.Password.Nested }}

# Install ESXi to the local disk
install --firstdisk --overwritevmfs

# Host Network Settings
network --bootproto=static --addvmportgroup=0 --ip={{ item.value.vmk.vmk0.Address.IPv4.Address }} --netmask={{ (item.value.vmk.vmk0.Address.IPv4.Address + '/' + item.value.vmk.vmk0.Address.IPv4.Prefix) | ansible.utils.ipaddr('netmask') }} --gateway={{ item.value.vmk.vmk0.Address.IPv4.Gateway }} --vlanid={{ item.value.vmk.vmk0.VLAN }} --nameserver={{ Common.DNS.Server1.IPv4 }} --hostname={{ item.value.FQDN }}

# Reboot ESXi host
reboot

# Open busybox and launch commands
%firstboot --interpreter=busybox
{% if item.value.EnableSSH %}

# Re-create the vmk0 adapter so that a unique MAC address is assigned and MAC learning can be enabled on the Pod's 'Trunk' and 'Mgmt' port groups.
esxcli network ip interface remove --interface-name=vmk0
esxcli network ip interface add --interface-name=vmk0 --portgroup-name='Management Network'
esxcli network ip interface ipv4 set --interface-name=vmk0 --ipv4={{ item.value.vmk.vmk0.Address.IPv4.Address }} --netmask={{ (item.value.vmk.vmk0.Address.IPv4.Address + '/' + item.value.vmk.vmk0.Address.IPv4.Prefix) | ansible.utils.ipaddr('netmask') }} --type=static
esxcfg-route -a default {{ item.value.vmk.vmk0.Address.IPv4.Gateway }}

# Enable & start remote ESXi Shell (SSH)
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# Enable & start ESXi Shell (TSM)
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# Supress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
{% endif %}{# item.value.EnableSSH #}

# Disable CEIP
esxcli system settings advanced set -o /UserVars/HostClientCEIPOptIn -i 2

# Configure Syslog servers
esxcli system syslog config set --loghost={{ Common.Syslog.Protocol }}://{{ Common.Syslog.IPv4 }}:{{ Common.Syslog.Port }}

# Configure DNS servers
esxcli network ip dns server add --server={{ Common.DNS.Server1.IPv4 }}
esxcli network ip dns server add --server={{ Common.DNS.Server2.IPv4 }}

# Configure and enable NTP
esxcli system ntp set --server={{ Common.NTP.Server1.IPv4 }} --server={{ Common.NTP.Server2.IPv4 }}
esxcli system ntp set --enabled=true

# Reboot ESXi host
reboot