{#
 #      Filename: templates/Pod_Config_Template.j2
 #    Created By: Luis Chanu & Rutger Blom
 #       Part Of: https://github.com/rutgerblom/vsphere-nsxt-lab-deploy
 #
 #  ToDo:
 #    1. Create Software Folder and file variables
 #}
---

DEBUG
=====
{{ DEBUG | to_yaml }}

Pod
===
{{ Pod | to_yaml }}

Deploy
======
{{ Deploy | to_yaml }}

TargetConfig
============
{{ TargetConfig | to_yaml }}

Target
======
{{ Target | to_yaml }}

Nested_ESXi
===========
{{ Nested_ESXi | to_yaml }}





Nested_Clusters: {{ Nested_Clusters }}

Nested_Router: {{ Nested_Router }}

Nested_vCenter: {{ Nested_vCenter }}

Nested_NSXT: {{ Nested_NSXT }}