<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1>vsphere-nsxt-lab-deploy</h1>

<h2>Pod-{{ pod }} Documentation</h2>

<p>Deployed by: {{ lookup('env','SUDO_USER') }}<br>
Deployed at: {{ time }}<br>
Deploy target: {{ physicalESX.fqdn }}</p>
  
<h3>Links</h3>
<table>
  <tr>
    <th>Description</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>vCenter</td>
    <td><a href="https://pod-{{ pod }}-vcenter.{{ domain }}">https://pod-{{ pod }}-vcenter.{{ domain }}</a></td>
  </tr>
{% if deploy_nsxt == true %}
  <tr>
    <td>NSX-T Local Manager</td>
    <td><a href="https://pod-{{ pod }}-{{ nsxmanager_name }}.{{ domain }}">https://pod-{{ pod }}-{{ nsxmanager_name }}.{{ domain }}</a>/</td>
  </tr>
  <tr>
    <td>NSX-T Local Manager CLI</td>
    <td><a href="ssh://admin@pod-{{ pod }}-{{ nsxmanager_name }}.{{ domain }}">ssh://admin@pod-{{ pod }}-{{ nsxmanager_name }}.{{ domain }}</a>/</td>
  </tr>
{% endif %}
{% if deploy_nsxt_edge == true %}
  <tr>
    <td>NSX-T Edge Transport Node 1 CLI</td>
    <td><a href="ssh://admin@pod-{{ pod }}-{{ edge_node1 }}.{{ domain }}">ssh://admin@pod-{{ pod }}-{{ edge_node1 }}.{{ domain }}</a>/</td>
  </tr>
  <tr>
    <td>NSX-T Edge Transport Node 2 CLI</td>
    <td><a href="ssh://admin@pod-{{ pod }}-{{ edge_node2 }}.{{ domain }}">ssh://admin@pod-{{ pod }}-{{ edge_node2 }}.{{ domain }}</a>/</td>
  </tr>
{% endif %}
  <tr>
    <td>vCenter VAMI</td>
    <td><a href="https://pod-{{ pod }}-vcenter.{{ domain }}:5480">https://pod-{{ pod }}-vcenter.{{ domain }}:5480</a></td>
  </tr>
  <tr>
    <td>vCenter CLI</td>
    <td><a href="ssh://root@pod-{{ pod }}-vcenter.{{ domain }}">ssh://root@pod-{{ pod }}-vcenter.{{ domain }}</a></td>
  </tr>
  <tr>
{% if deploy_router == true %}
    <td>VyOS Router</td>
    <td><a href="ssh://vyos@{{ pod_network }}.{{ pod + management }}.1">ssh://vyos@{{ pod_network }}.{{ pod + management }}.1</a></td>
  </tr>
{% endif %}
</table>
<br>

<h3>Credentials</h3>
<table>
  <tr>
    <th>Description</th>
    <th>Username</th>
    <th>Password</th>
  </tr>
  <tr>
    <td>vCenter</td>
    <td>{{ vcenter.user }}</td>
    <td>{{ vcenter.password }}</td>
  </tr>
  <tr>
    <td>ESXi</td>
    <td>root</td>
    <td>{{ vcenter.password }}</td>
  </tr>
{% if deploy_nsxt == true %}
  <tr>
    <td>NSX-T Managers</td>
    <td>{{ nsxmanadminuser }}</td>
    <td>{{ nsxmanpassword }}</td>
  </tr>
{% endif %}
{% if deploy_nsxt_edge == true %}
  <tr>
    <td>NSX-T Edge Transport Nodes</td>
    <td>admin</td>
    <td>{{ edgepassword }}</td>
  </tr>
{% endif %}
  <tr>
    <td>vCenter VAMI and CLI</td>
    <td>root</td>
    <td>{{ vcenter.password }}</td>
  </tr>
{% if deploy_router == true %}
    <td>VyOS Router</td>
    <td>vyos</td>
    <td>VMware1!</td>
  </tr>
{% endif %}
</table>
<br>

<h3>VLANs</h3>
<table>
  <tr>
    <th>VLAN Description</th>
    <th>VLAN ID</th>
    <th>CIDR</th>
    <th>Gateway</th>
  </tr>
  <tr>
    <td>Management</td>
    <td>{{ physicalESX.vlan }}</td>
    <td>{{ pod_network }}.{{ pod + management }}.0/{{ mgmt_network_mask_cidr }}</td>
    <td>{{ pod_network }}.{{ pod + management }}.1</td>
  </tr>
  <tr>
    <td>vMotion</td>
    <td>{{ pod + vmotion }}</td>
    <td>{{ pod_network }}.{{ pod + vmotion }}.0/{{ vmotion_network_mask_cidr }}</td>
    <td>{{ pod_network }}.{{ pod + vmotion }}.1</td>
  </tr>
  <tr>
    <td>vSAN</td>
    <td>{{ pod + vsan }}</td>
    <td>{{ pod_network }}.{{ pod + vsan }}.0/{{ vsan_network_mask_cidr }}</td>
    <td>{{ pod_network }}.{{ pod + vsan }}.1</td>
  </tr>
  <tr>
    <td>IP Storage</td>
    <td>{{ pod + ipstorage }}</td>
    <td>{{ pod_network }}.{{ pod + ipstorage }}.0/{{ ipstorage_network_mask_cidr }}</td>
    <td>{{ pod_network }}.{{ pod + ipstorage }}.1</td>
  </tr>
  <tr>
    <td>Overlay Transport</td>
    <td>{{ pod + transport }}</td>
    <td>{{ pod_network }}.{{ pod + transport }}.0/{{ transport_network_mask_cidr }}</td>
    <td>{{ transport_gw }}</td>
  </tr>
  <tr>
    <td>Service VM Management</td>
    <td>{{ pod + svmmanagement }}</td>
    <td>{{ pod_network }}.{{ pod + svmmanagement }}.0/{{ svmmanagement_network_mask_cidr }}</td>
    <td>{{ pod_network }}.{{ pod + svmmanagement }}.1</td>
  </tr>
  <tr>
    <td>NSX Edge Uplink #1</td>
    <td>{{ pod + nsx_edge_uplink_1 }}</td>
    <td>{{ pod_network }}.{{ pod + nsx_edge_uplink_1 }}.0/{{ nsx_edge_uplink_1_network_mask_cidr }}</td>
    <td>{{ pod_network }}.{{ pod + nsx_edge_uplink_1 }}.1</td>
  </tr>
  <tr>
    <td>NSX Edge Uplink #2</td>
    <td>{{ pod + nsx_edge_uplink_2 }}</td>
    <td>{{ pod_network }}.{{ pod + nsx_edge_uplink_2 }}.0/{{ nsx_edge_uplink_2_network_mask_cidr }}</td>
    <td>{{ pod_network }}.{{ pod + nsx_edge_uplink_2 }}.1</td>
  </tr>
  <tr>
    <td>VM Network</td>
    <td>{{ pod + vmnetwork }}</td>
    <td>{{ pod_network }}.{{ pod + vmnetwork }}.0/{{ vmnetwork_network_mask_cidr }}</td>
    <td>{{ pod_network }}.{{ pod + vmnetwork }}.1</td>
  </tr>
</table>
<br>

<h3>FQDNs and IP addresses</h3>
<table>
  <tr>
    <th>FQDN</th>
    <th>IP address</th>
  </tr>
  <tr>
    <td>{{ vcenter.fqdn }}</td>
    <td>{{ vcenter.ip }}</td>
  </tr>
{% for item in vESX %}
  <tr>
    <td>{{ vESX[item].fqdn }}</td>
    <td>{{ vESX[item].ip }}</td>
  </tr>
{% endfor %}
{% if deploy_nsxt == true %}
{% for item in nsxman %}
  <tr>
    <td>{{ nsxman[item].hostname }}</td>
    <td>{{ nsxman[item].ip }}</td>
  </tr>
{% endfor %}
{% endif %}
{% if deploy_nsxt_edge == true %}
  <tr>
    <td>{{ edge_node1 }}.{{ domain }}</td>
    <td>{{ pod_network }}.{{ pod + management }}.61</td>
  </tr>
  <tr>
    <td>{{ edge_node2 }}.{{ domain }}</td>
    <td>{{ pod_network }}.{{ pod + management }}.62</td>
  </tr>
{% endif %}
</table>

</body>
</html>
