<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1>vsphere-nsxt-lab-deploy</h1>

<h2>Pod Links</h2>

<h3>Pod-230</h3>

<table>
  <tr>
    <th>Description</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>vCenter</td>
    <td><a href="https://pod-230-vcenter.lab.local">https://pod-230-vcenter.lab.local</a></td>
  </tr>
  <tr>
    <td>NSX-T Local Manager</td>
    <td><a href="https://pod-230-nsxt-lm.lab.local">https://pod-230-nsxt-lm.lab.local</a>/</td>
  </tr>
</table>

</body>
</html>
