<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1>vsphere-nsxt-lab-deploy</h1>

<h2>Pod Links</h2>

<h3>Pod-{{ pod }}</h3>

<table>
  <tr>
    <th>Description</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>vCenter</td>
    <td><a href="https://pod-{{ pod }}-vcenter.{{ domain }}">https://pod-{{ pod }}-vcenter.{{ domain }}</a></td>
  </tr>
{% if deploy_nsxt == true %}
  <tr>
    <td>NSX-T Local Manager</td>
    <td><a href="https://pod-{{ pod }}-{{ nsxmanager_name }}.{{ domain }}">https://pod-{{ pod }}-{{ nsxmanager_name }}.{{ domain }}</a>/</td>
  </tr>
  <tr>
    <td>NSX-T Local Manager CLI</td>
    <td><a href="ssh://admin@pod-{{ pod }}-{{ nsxmanager_name }}.{{ domain }}">ssh://admin@pod-{{ pod }}-{{ nsxmanager_name }}.{{ domain }}</a>/</td>
  </tr>
{% endif %}
{% if deploy_nsxt_edge == true %}
  <tr>
    <td>NSX-T Edge Transport Node 1 CLI</td>
    <td><a href="ssh://admin@pod-{{ pod }}-{{ edge_node1 }}.{{ domain }}">ssh://admin@pod-{{ pod }}-{{ edge_node1 }}.{{ domain }}</a>/</td>
  </tr>
  <tr>
    <td>NSX-T Edge Transport Node 2 CLI</td>
    <td><a href="ssh://admin@pod-{{ pod }}-{{ edge_node2 }}.{{ domain }}">ssh://admin@pod-{{ pod }}-{{ edge_node2 }}.{{ domain }}</a>/</td>
  </tr>
  {% endif %}
  <tr>
    <td>vCenter VAMI</td>
    <td><a href="https://pod-{{ pod }}-vcenter.{{ domain }}:5480">https://pod-{{ pod }}-vcenter.{{ domain }}:5480</a></td>
  </tr>
</table>

</body>
</html>
