{
    "image_storage": {
{% for sp_id in sp_id %}
        "storage_policy": "{{ sp_id }}"
{% endfor %}{# sp_id #}
    },
    "ncp_cluster_network_spec": {
{% for ec_id in ec_id %}
        "nsx_edge_cluster": "{{ ec_id }}",
{% endfor %}{# ec_id #}
{% for vds_id in vds_id %}
        "cluster_distributed_switch": "{{ vds_id }}",
{% endfor %}{# vds_id #}
        "pod_cidrs": [
            {
                "address": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Pod.Network }}",
                "prefix": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Pod.Prefix }}"
            }
        ],
        "ingress_cidrs": [
            {
                "address": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Ingress.Network }}",
                "prefix": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Ingress.Prefix }}"
            }
        ],
        "egress_cidrs": [
            {
                "address": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Egress.Network }}",
                "prefix": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Egress.Prefix }}"
            }
        ]
    },
    "master_NTP_servers": [
        "{{ Nested_Tanzu.WorkloadManagement.Network.Management.NTP }}"
    ],
{% for sp_id in sp_id %}
    "ephemeral_storage_policy": "{{ sp_id }}",
{% endfor %}{# sp_id #}
    "service_cidr": {
        "address": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Service.Network }}",
        "prefix": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Service.Prefix }}"
    },
    "size_hint": "{{ Nested_Tanzu.WorkloadManagement.Config.ControlPlaneSize }}",
    "worker_DNS": [
        "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.DNS }}"
    ],
    "master_DNS": [
        "{{ Nested_Tanzu.WorkloadManagement.Network.Management.DNS }}"
    ],
    "network_provider": "NSXT_CONTAINER_PLUGIN",
{% for sp_id in sp_id %}
    "master_storage_policy": "{{ sp_id }}",
{% endfor %}{# sp_id #}
    "master_DNS_search_domains": [
        "{{ Nested_Tanzu.WorkloadManagement.Network.Management.Domain }}"
    ],
    "master_management_network": {
        "mode": "STATICRANGE",
        "address_range": {
            "subnet_mask": "{{ (Nested_Tanzu.WorkloadManagement.Network.Management.StartingIP + '/' + Nested_Tanzu.WorkloadManagement.Network.Management.Prefix) | ipaddr('netmask') }}",
            "starting_address": "{{ Nested_Tanzu.WorkloadManagement.Network.Management.StartingIP }}",
            "gateway": "{{ Nested_Tanzu.WorkloadManagement.Network.Management.Gateway }}",
            "address_count": 5
        },
{% for vdspg_id in vdspg_id %}
        "network": "{{ vdspg_id }}"
{% endfor %}{# sp_id #}
    },
{% for cl_id in cl_id %}
    "default_kubernetes_service_content_library": "{{ cl_id }}"
{% endfor %}{# cl_id #}
}