{
    "image_storage": {
        "storage_policy": "{{ sp_id }}"
    },
    "ncp_cluster_network_spec": {
        "nsx_edge_cluster": "{{ ec_id }}",
        "cluster_distributed_switch": "{{ vds_id }}",
        "pod_cidrs": [
            {
                "address": "10.244.0.0",
                "prefix": "20"
            }
        ],
        "ingress_cidrs": [
            {
                "address": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Ingress.Network }}",
                "prefix": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Ingress.Prefix }}"
            }
        ],
        "egress_cidrs": [
            {
                "address": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Egress.Network }}",
                "prefix": "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.Egress.Prefix }}"
            }
        ]
    },
    "master_NTP_servers": [
        "{{ Common.NTP.Server1.IPv4 }}"
    ],
    "ephemeral_storage_policy": "{{ sp_id }}",
    "service_cidr": {
        "address": "10.96.0.0",
        "prefix": "23"
    },
    "size_hint": "{{ Nested_Tanzu.WorkloadManagement.Config.ControlPlaneSize }}",
    "worker_DNS": [
        "{{ Nested_Tanzu.WorkloadManagement.Network.Workload.DNS }}"
    ],
    "master_DNS": [
        "{{ Common.DNS.Server1.IPv4 }}"
    ],
    "network_provider": "NSXT_CONTAINER_PLUGIN",
    "master_storage_policy": "{{ sp_id }}",
    "master_DNS_search_domains": [
        "{{ Common.DNS.Domain }}"
    ],
    "master_management_network": {
        "mode": "STATICRANGE",
        "address_range": {
            "subnet_mask": "{{ (Nested_Tanzu.WorkloadManagement.Network.Management.StartingIP + '/' + Net.Management.IPv4.Prefix) | ipaddr('netmask') }}",
            "starting_address": "{{ Nested_Tanzu.WorkloadManagement.Network.Management.StartingIP }}",
            "gateway": "{{ Net.Management.IPv4.Network }}.1",
            "address_count": 5
        },
        "network": "{{ vdspg_id }}"
    },
    "default_kubernetes_service_content_library": "{{ cl_id }}"
}