#cloud-config
autoinstall:
  version: 1
  locale: {{ Nested_Ubuntu.OS.Locale }}
  keyboard:
    layout: {{ Nested_Ubuntu.OS.Keyboard.Layout }}
    variant: {{ Nested_Ubuntu.OS.Keyboard.Variant }}
  network:
    network:
      version: 2
      ethernets:
        ens192:
          addresses: [{{ Nested_Ubuntu.OS.Network.IPv4.Address }}/{{ Nested_Ubuntu.OS.Network.IPv4.Prefix }}]
          gateway4: {{ Nested_Ubuntu.OS.Network.IPv4.Gateway }}
          nameservers:
            addresses: [{{ Nested_Ubuntu.OS.Network.IPv4.DNS }}]
            search: [{{ Common.DNS.Domain }}]
  identity:
    hostname: {{ Nested_Ubuntu.FQDN }}
    username: {{ Nested_Ubuntu.OS.Credentials.User }}
    password: "$6$ryx4qBcSL3V1qKaU$UVKN5KO0gwjUqha0OQkGX8CL/Dbp3NCPo52vEvXO1/2s3NkFcvw540HPWc1g6/7UFEmYEbeRXFdttuguFsvj00" # VMware1!
  ssh:
    install-server: yes
  packages:
    - dns-server^
    - ntp
    - net-tools
  late-commands:
    - echo '{{ Nested_Ubuntu.OS.Credentials.User }}:{{ Nested_Ubuntu.OS.Credentials.Password }}' | chpasswd
    - echo '{{ Nested_Ubuntu.OS.Credentials.User }} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/ubuntu # Allow user to run sudo without password