{#
 #    Authors: Luis Chanu & Rutger Blom
 #   Filename: templates/var_NSXT_EdgeTransportNodes.j2
 #    Used By: This file is used by the playbook createNsxEdgeTn.yml
 #    Purpose: This Jinja2 template file is used to create the data structure that is provided to the nsxt_transport_nodes module.
 #
 #}
var_EdgeTransportNodes:
{% for EdgeTransportNode in Nested_NSXT.System.Fabric.Nodes.EdgeTransportNodes %}
  - display_name: "{{ EdgeTransportNode.Name }}"
    description: "{{ EdgeTransportNode.Description }}"
    host_switches:
{% for HostSwitch in EdgeTransportNode.HostSwitches %}
    - host_switch_profiles:
      - name: "{{ HostSwitch.UplinkProfile.Name }}"
        type: UplinkHostSwitchProfile
      host_switch_name: "{{ HostSwitch.Name }}"
      host_switch_mode: "{{ HostSwitch.Mode }}"
      pnics:
{% for Uplink in HostSwitch.Uplinks %}
      - device_name: "{{ Uplink.DeviceName }}"
        uplink_name: "{{ Uplink.NSXUplinkName }}"
{% endfor %}{# Uplink #}
      ip_assignment_spec:
        resource_type: "{{ HostSwitch.IPPool.Type }}"
        ip_pool_name: "{{ HostSwitch.IPPool.Name }}"
      transport_zone_endpoints:
{% for TransportZone in HostSwitch.TransportZones %}
      - transport_zone_name: "{{ TransportZone.Name }}"
{% endfor %}{# TransportZone #}
{% endfor %}{# HostSwitch #}
    node_deployment_info:
      display_name: "{{ EdgeTransportNode.Deployment.VMName }}"
      resource_type: "EdgeNode"
      ip_addresses:
      deployment_config:
        form_factor: "{{ EdgeTransportNode.Deployment.FormFactor }}"
        node_user_settings:
          cli_password: "{{ EdgeTransportNode.Deployment.CLIPassword }}"
          root_password: "{{ EdgeTransportNode.Deployment.RootPassword }}"
        vm_deployment_config:
          enable_ssh: "{{ EdgeTransportNode.Deployment.EnableSSH }}"
          allow_ssh_root_login: "{{ EdgeTransportNode.Deployment.AllowRootSSH }}"
          search_domains:
            - "{{ Common.DNS.Domain }}"
          dns_servers:
            - "{{ Common.DNS.Server1.IPv4 }}"
{% if Common.DNS.Server2.IPv4 %}
            - "{{ Common.DNS.Server2.IPv4 }}"
{% endif %}
          ntp_servers:
            - "{{ Common.NTP.Server1.IPv4 }}"
{% if Common.NTP.Server2.IPv4 %}
            - "{{ Common.NTP.Server2.IPv4 }}"
{% endif %}
          placement_type: VsphereDeploymentConfig
          vc_name: "{{ EdgeTransportNode.Deployment.vCenterName }}"
          vc_username: "{{ EdgeTransportNode.Deployment.vCenterUser }}"
          vc_password: "{{ EdgeTransportNode.Deployment.vCenterPassword }}"        
          data_networks:
{% for DataPortGroup in EdgeTransportNode.Deployment.DataPortGroups %}
          - "{{ DataPortGroup.Name }}"
{% endfor %}{# DataPortGroup #}
          management_network: "{{ EdgeTransportNode.Deployment.ManagementPortGroup }}"
          management_port_subnets:
          - ip_addresses:
            - "{{ EdgeTransportNode.Deployment.ManagementIPAddress }}"
            prefix_length: "{{ EdgeTransportNode.Deployment.ManagementIPPrefix }}"
          default_gateway_addresses: 
          - "{{ EdgeTransportNode.Deployment.Gateway }}"
          hostname: "{{ EdgeTransportNode.Deployment.Hostname }}"
          compute: "{{ EdgeTransportNode.Deployment.vSphereCluster }}"
          storage: "{{ EdgeTransportNode.Deployment.Datastore }}"
          host: "{{ EdgeTransportNode.Deployment.ESXiHost |lower }}"
{% endfor %}{# EdgeTransportNode #}