{#
 #     Author: Luis Chanu & Rutger Blom
 #   Filename: templates/var_NSXT_IPPools.j2
 #    Used By: This file is used by the playbook createNsxIpPool.yml
 #    Purpose: This Jinja2 template file is used to create the data structure that is provided to the nsxt_policy_ip_pool method.
 #
 #}
{#ip_pools:#}
{% for Pool in Nested_NSXT.Networking.IPPools %}
- display_name: "{{ Pool.Name }}"
  description:  "{{ Pool.Description }}"
  state: "present"
  tags:
    - tag: "{{ Pool.Tags.Tag }}"
      scope: "{{ Pool.Tags.Scope }}"
  pool_static_subnets:
{% for Allocation in Pool.Allocations %}
#    - display_name: "{{ Alocation.Name | ipaddr('int') }}"
    - description: "{{ Allocation.Description }}"
      state: "present"
      allocation_ranges:
{% for IPRange in Allocation.IPRanges %}
      - start: "{{ IPRange.Start }}"
        end:   "{{ IPRange.End }}"
{% set IPRange_CIDR = {{ "{}/{}".format(IPRange.Start, Allocation.Prefix) | ipaddr('network/prefix') }} %}
{% endfor %}{# IPRange #}
      cidr: {{ IPRange_CIDR }}
{% if Allication.Gateway %}
      gateway_ip: "{{ Allication.Gateway }}"
{% endif %}{# Allocation #}
{% if Allication.DNS.Server %}
      dns_nameservers: "{{ Allication.DNS.Server }}"
{% endif %}
      dns_suffix: "{{ Allocation.DNS.Domain }}"
{% endfor %}{# Pool #}
