{#
 #    Authors: Luis Chanu & Rutger Blom
 #   Filename: templates/var_NSXT_EdgeTransportNodes.j2
 #    Used By: This file is used by the playbook createNsxEdgeTn.yml
 #    Purpose: This Jinja2 template file is used to create the data structure that is provided to the nsxt_transport_nodes module.
 #
 #}
var_EdgeTransportNodes:
