
ip_pools:
{% for Pool in Nested_NSXT.Networking.IPPools %}
- display_name: "{{ Pool.Name }}"
  description:  "{{ Pool.Description }}"
  state: "present"
  tags:
    - tag: "{{ Pool.Tags.Tag }}"
      scope: "{{ Pool.Tags.Scope }}"
  pool_static_subnets:
{% for Allocation in Pool.Allocations %}
    - description: "{{ Allocation.Description }}"
      state: "present"
      allocation_ranges:
{% for IPRange in Allocation.IPRanges %}
      - start: "{{ IPRange.Start }}"
        end:   "{{ IPRange.End }}"
{% set IPRange_CIDR = {{ "{}/{}".format(IPRange.Start, Allocation.Prefix) | ipaddr('network/prefix') }} %}
{% endfor %}{# IPRange #}
      cidr: "{{ IPRange_CIDR }}"
{% if Allocation.Gateway %}
      gateway_ip: "{{ Allocation.Gateway }}"
{% endif %}
{% if Allocation.DNS.Server %}
      dns_nameservers: "{{ Allocation.DNS.Server }}"
{% endif %}
      dns_suffix: "{{ Allocation.DNS.Domain }}"
{% endfor %}{# Allocation #}
{% endfor %}{# Pool #}
