interfaces {
    ethernet eth0 {
        address {{ Nested_Router.Interface.Uplink.IPv4.Address }}/{{ Nested_Router.Interface.Uplink.IPv4.Prefix }}
    }
    ethernet eth1 {
        mtu 9000
        vif {{ Nested_Router.Interface.Management.VLAN }} {
            address {{ Nested_Router.Interface.Management.IPv4.Address }}/{{ Nested_Router.Interface.Management.IPv4.Prefix }}
            description Management
            mtu 1500
        }
        vif {{ Nested_Router.Interface.vMotion.VLAN }} {
            address {{ Nested_Router.Interface.vMotion.IPv4.Address }}/{{ Nested_Router.Interface.vMotion.IPv4.Prefix }}
            description vMotion
            mtu 9000
        }
        vif {{ Nested_Router.Interface.vSAN.VLAN }} {
            address {{ Nested_Router.Interface.vSAN.IPv4.Address }}/{{ Nested_Router.Interface.vSAN.IPv4.Prefix }}
            description vSAN
            mtu 9000
        }
        vif {{ Nested_Router.Interface.IPStorage.VLAN }} {
            address {{ Nested_Router.Interface.IPStorage.IPv4.Address }}/{{ Nested_Router.Interface.IPStorage.IPv4.Prefix }}
            description "IP Storage"
            mtu 9000
        }
        vif {{ Nested_Router.Interface.Transport.VLAN }} {
            address {{ Nested_Router.Interface.Transport.IPv4.Address }}/{{ Nested_Router.Interface.Transport.IPv4.Prefix }}
            description "Overlay Transport"
            mtu 9000
        }
        vif {{ Nested_Router.Interface.ServiceVM.VLAN }} {
            address {{ Nested_Router.Interface.ServiceVM.IPv4.Address }}/{{ Nested_Router.Interface.ServiceVM.IPv4.Prefix }}
            description "Service VM Management"
            mtu 1500
        }
        vif {{ Nested_Router.Interface.NSXEdgeUplink1.VLAN }} {
            address {{ Nested_Router.Interface.NSXEdgeUplink1.IPv4.Address }}/{{ Nested_Router.Interface.NSXEdgeUplink1.IPv4.Prefix }}
            description "NSX Edge Uplink #1"
            mtu 1500
        }
        vif {{ Nested_Router.Interface.NSXEdgeUplink2.VLAN }} {
            address {{ Nested_Router.Interface.NSXEdgeUplink2.IPv4.Address }}/{{ Nested_Router.Interface.NSXEdgeUplink2.IPv4.Prefix }}
            description "NSX Edge Uplink #2"
            mtu 1500
        }
        vif {{ Nested_Router.Interface.RTEP.VLAN }} {
            address {{ Nested_Router.Interface.RTEP.IPv4.Address }}/{{ Nested_Router.Interface.RTEP.IPv4.Prefix }}
            description "RTEP Transport"
            mtu 1500
        }
        vif {{ Nested_Router.Interface.VMNetwork.VLAN }} {
            address {{ Nested_Router.Interface.VMNetwork.IPv4.Address }}/{{ Nested_Router.Interface.VMNetwork.IPv4.Prefix }}
            description "VM Network"
            mtu 1500
        }
    }
    loopback lo {
    }
}
{% if Nested_Router.Protocol == "Static" %}
nat {
    source {
        rule 1 {
            outbound-interface eth0
            source {
                address {{ Nested_Router.Interface.Management.IPv4.Address | ipsubnet( Nested_Router.Interface.Management.IPv4.Prefix ) }}
            }
            translation {
                address masquerade
            }
        }
        rule 2 {
            outbound-interface eth0
            source {
                address {{ Nested_Router.Interface.VMNetwork.IPv4.Address | ipsubnet( Nested_Router.Interface.VMNetwork.IPv4.Prefix ) }}
            }
            translation {
                address masquerade
            }
        }
    }
}
{% endif %}
protocols {
    bgp {{ Nested_Router.BGP.ASN }} {
{% for Neighbor in Nested_Router.BGP.Neighbors %}
        neighbor {{ Neighbor.IPv4.Address }} {
            default-originate {
            }
            remote-as {{ Neighbor.ASN }}
        }
{% endfor %}
        parameters {
            router-id {{ Nested_Router.BGP.RouterID }}
        }
    }
{% if Nested_Router.Protocol == "OSPF" %}
    ospf {
        area {{ Nested_Router.OSPF.Area }} {
            network {{ "{}/{}".format(Nested_Router.Interface.Uplink.IPv4.Address, Nested_Router.Interface.Uplink.IPv4.Prefix) | ipaddr('network/prefix') }}
        }
        log-adjacency-changes {
        }
        parameters {
            router-id {{ Nested_Router.OSPF.RouterID }}
        }
        redistribute {
            connected {
                metric-type 2
            }
        }
    }
{% endif %}
{% if Nested_Router.Protocol == "Static" %}
    static {
        route 0.0.0.0/0 {
            next-hop {{ Nested_Router.Interface.Uplink.IPv4.Gateway }} {
            }
        }
    }
{% endif %}
}
service {
    dhcp-server {
        disabled false
        shared-network-name vmnetwork {
            authoritative enable
            subnet {{ Nested_Router.Interface.VMNetwork.IPv4.Address | ipsubnet( Nested_Router.Interface.VMNetwork.IPv4.Prefix ) }} {
                default-router {{ Nested_Router.Interface.VMNetwork.IPv4.Address }}
                dns-server {{ Common.DNS.Server1.IPv4 }}
                lease 300
                start {{ Net.VMNetwork.IPv4.Network }}.20 {
                    stop {{ Net.VMNetwork.IPv4.Network }}.50
                }
            }
        }
    }
    ssh {
        port 22
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
    }
    host-name {{ Nested_Router.Name }}
    login {
        user vyos {
            authentication {
                encrypted-password $6$O7FITjwsv$FxOYWFceYe4NH7LlnPR1gEyMSjcRJxtXSvoghxJNDb98oXBbqg56U3msnXhBJuB/YAymJDgw5T1XFkSW.KXeQ0
                plaintext-password ""
            }
            level admin
        }
    }
    name-server {{ Common.DNS.Server1.IPv4 }}
    ntp {
{% if Deploy.Software.Router.Version == "Latest" %}
        listen-address {{ Nested_Router.Interface.Management.IPv4.Address }}
{% endif %}
{% for NTPServer in Nested_Router.NTP.Servers %}
        server {{ NTPServer.IPv4.Address }} {
        }
{% endfor %}
    }
{% if Deploy.Software.Router.Version == "Legacy" %}
    package {
        auto-sync 1
        repository community {
            components main
            distribution helium
            password ""
            url http://packages.vyos.net/vyos
            username ""
        }
    }
{% endif %}
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone UTC
}


/* Warning: Do not remove the following line. */
{% if Deploy.Software.Router.Version == "Legacy" %}
/* === vyatta-config-version: "cluster@1:config-management@1:conntrack-sync@1:conntrack@1:cron@1:dhcp-relay@1:dhcp-server@4:firewall@5:ipsec@4:nat@4:qos@1:quagga@2:system@6:vrrp@1:wanloadbalance@3:webgui@1:webproxy@1:zone-policy@1" === */
{% endif %}
{% if Deploy.Software.Router.Version == "Latest" %}
/* === vyatta-config-version: "broadcast-relay@1:cluster@1:config-management@1:conntrack@1:conntrack-sync@1:dhcp-relay@2:dhcp-server@5:dhcpv6-server@1:dns-forwarding@2:firewall@5:https@2:interfaces@9:ipoe-server@1:ipsec@5:l2tp@3:lldp@1:mdns@1:nat@4:ntp@1:pppoe-server@3:pptp@2:qos@1:quagga@6:salt@1:snmp@1:ssh@1:sstp@2:system@16:vrrp@2:vyos-accel-ppp@2:wanloadbalance@3:webgui@1:webproxy@2:zone-policy@1" === */
{% endif %}
