interfaces {
    ethernet eth0 {
        mtu 1500
{% if Deploy.Setting.IPv4 %}
        address {{ Nested_Router.Interface.Uplink.IPv4.Address }}/{{ Nested_Router.Interface.Uplink.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
        address {{ Nested_Router.Interface.Uplink.IPv6.Address }}/{{ Nested_Router.Interface.Uplink.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
        ipv6 {
            router-advert {
                prefix {{ "{}/{}".format(Nested_Router.Interface.Uplink.IPv6.Address, Nested_Router.Interface.Uplink.IPv6.Prefix) | ipaddr('network/prefix') }} {
                }
            }
        }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
    }
    ethernet eth1 {
        mtu 9000
        vif {{ Nested_Router.Interface.Management.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.Management.IPv4.Address }}/{{ Nested_Router.Interface.Management.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.Management.IPv6.Address }}/{{ Nested_Router.Interface.Management.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.Management.IPv6.Address, Nested_Router.Interface.Management.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description Management
            mtu 1500
        }
        vif {{ Nested_Router.Interface.vMotion.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.vMotion.IPv4.Address }}/{{ Nested_Router.Interface.vMotion.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.vMotion.IPv6.Address }}/{{ Nested_Router.Interface.vMotion.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.vMotion.IPv6.Address, Nested_Router.Interface.vMotion.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description vMotion
            mtu 9000
        }
        vif {{ Nested_Router.Interface.vSAN.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.vSAN.IPv4.Address }}/{{ Nested_Router.Interface.vSAN.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.vSAN.IPv6.Address }}/{{ Nested_Router.Interface.vSAN.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.vSAN.IPv6.Address, Nested_Router.Interface.vSAN.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description vSAN
            mtu 9000
        }
        vif {{ Nested_Router.Interface.IPStorage.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.IPStorage.IPv4.Address }}/{{ Nested_Router.Interface.IPStorage.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.IPStorage.IPv6.Address }}/{{ Nested_Router.Interface.IPStorage.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.IPStorage.IPv6.Address, Nested_Router.Interface.IPStorage.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description "IP Storage"
            mtu 9000
        }
        vif {{ Nested_Router.Interface.Transport.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.Transport.IPv4.Address }}/{{ Nested_Router.Interface.Transport.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.Transport.IPv6.Address }}/{{ Nested_Router.Interface.Transport.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.Transport.IPv6.Address, Nested_Router.Interface.Transport.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description "Overlay Transport"
            mtu 9000
        }
        vif {{ Nested_Router.Interface.ServiceVM.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.ServiceVM.IPv4.Address }}/{{ Nested_Router.Interface.ServiceVM.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.ServiceVM.IPv6.Address }}/{{ Nested_Router.Interface.ServiceVM.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.ServiceVM.IPv6.Address, Nested_Router.Interface.ServiceVM.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description "Service VM Management"
            mtu 1500
        }
        vif {{ Nested_Router.Interface.NSXEdgeUplink1.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.NSXEdgeUplink1.IPv4.Address }}/{{ Nested_Router.Interface.NSXEdgeUplink1.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.NSXEdgeUplink1.IPv6.Address }}/{{ Nested_Router.Interface.NSXEdgeUplink1.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.NSXEdgeUplink1.IPv6.Address, Nested_Router.Interface.NSXEdgeUplink1.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description "NSX Edge Uplink #1"
            mtu 1500
        }
        vif {{ Nested_Router.Interface.NSXEdgeUplink2.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.NSXEdgeUplink2.IPv4.Address }}/{{ Nested_Router.Interface.NSXEdgeUplink2.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.NSXEdgeUplink2.IPv6.Address }}/{{ Nested_Router.Interface.NSXEdgeUplink2.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.NSXEdgeUplink2.IPv6.Address, Nested_Router.Interface.NSXEdgeUplink2.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description "NSX Edge Uplink #2"
            mtu 1500
        }
        vif {{ Nested_Router.Interface.RTEP.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.RTEP.IPv4.Address }}/{{ Nested_Router.Interface.RTEP.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.RTEP.IPv6.Address }}/{{ Nested_Router.Interface.RTEP.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.RTEP.IPv6.Address, Nested_Router.Interface.RTEP.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description "RTEP Transport"
            mtu 1500
        }
        vif {{ Nested_Router.Interface.VMNetwork.VLAN }} {
{% if Deploy.Setting.IPv4 %}
            address {{ Nested_Router.Interface.VMNetwork.IPv4.Address }}/{{ Nested_Router.Interface.VMNetwork.IPv4.Prefix }}
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
            address {{ Nested_Router.Interface.VMNetwork.IPv6.Address }}/{{ Nested_Router.Interface.VMNetwork.IPv6.Prefix }}
{% if Deploy.Software.Router.Version == "Legacy" %}
            ipv6 {
                router-advert {
                    prefix {{ "{}/{}".format(Nested_Router.Interface.VMNetwork.IPv6.Address, Nested_Router.Interface.VMNetwork.IPv6.Prefix) | ipaddr('network/prefix') }} {
                    }
                }
            }
{% endif %}{# Legacy #}
{% endif %}{# Deploy.Setting.IPv6 #}
            description "VM Network"
            mtu 1500
        }
    }
    loopback lo {
    }
}
{% if Nested_Router.Protocol == "Static" %}
nat {
    source {
        rule 1 {
            outbound-interface eth0
            source {
                address {{ Nested_Router.Interface.Management.IPv4.Address | ipsubnet( Nested_Router.Interface.Management.IPv4.Prefix ) }}
            }
            translation {
                address masquerade
            }
        }
        rule 2 {
            outbound-interface eth0
            source {
                address {{ Nested_Router.Interface.VMNetwork.IPv4.Address | ipsubnet( Nested_Router.Interface.VMNetwork.IPv4.Prefix ) }}
            }
            translation {
                address masquerade
            }
        }
    }
}
{% endif %}
protocols {
    bgp {{ Nested_Router.BGP.ASN }} {
{#################### "Physical" North-Bound Neighbors ####################}
{% if Nested_Router.Protocol == "BGP" or Nested_Router.Protocol == "BOTH" %}{# Only include if BGP is to be used #}
{% for Neighbor in Nested_Router.BGP.Neighbor.Routers %}
{% if Deploy.Setting.IPv4 %}
        neighbor {{ Neighbor.IPv4.Address }} {
{% if Deploy.Software.Router.Version == "Legacy" and Neighbor.SendDefault %}
            default-originate {
            }
{% endif %}{# Legacy and SendDefault #}
{% if Deploy.Software.Router.Version == "Latest" %}
            address-family {
                ipv4-unicast {
{% if Neighbor.SendDefault %}
                    default-originate {
                    }
{% endif %}{# SendDefault #}
                }
            }
{% endif %}{# Latest #}
            description {{ Neighbor.Name }}
            remote-as {{ Neighbor.ASN }}
        }
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
        neighbor {{ Neighbor.IPv6.Address }} {
{% if Deploy.Software.Router.Version == "Legacy" and Neighbor.SendDefault %}
            default-originate {
            }
{% endif %}{# Legacy and SendDefault #}
{% if Deploy.Software.Router.Version == "Latest" %}
            address-family {
                ipv6-unicast {
{% if Neighbor.SendDefault %}
                    default-originate {
                    }
{% endif %}{# SendDefault #}
                }
            }
{% endif %}{# Latest #}
            description {{ Neighbor.Name }}
            remote-as {{ Neighbor.ASN }}
        }
{% endif %}{# Deploy.Setting.IPv6 #}
{% endfor %}{# Neighbor (Routers) #}
{% endif %}{# Nested_Router.Protocol #}
{#################### NSX-T EdgeVM SR Neighbors ####################}
{% for Neighbor in Nested_Router.BGP.Neighbor.NSXEdges %}
{% if Deploy.Setting.IPv4 %}
        neighbor {{ Neighbor.IPv4.Address }} {
{% if Deploy.Software.Router.Version == "Legacy" and Neighbor.SendDefault %}
            default-originate {
            }
{% endif %}{# Legacy and SendDefault #}
{% if Deploy.Software.Router.Version == "Latest" %}
            address-family {
                ipv4-unicast {
{% if Neighbor.SendDefault %}
                    default-originate {
                    }
{% endif %}{# SendDefault #}
                }
            }
{% endif %}{# Latest #}
            description {{ Neighbor.Name }}
            remote-as {{ Neighbor.ASN }}
        }
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
        neighbor {{ Neighbor.IPv6.Address }} {
{% if Deploy.Software.Router.Version == "Legacy" and Neighbor.SendDefault %}
            default-originate {
            }
{% endif %}{# Legacy and SendDefault #}
{% if Deploy.Software.Router.Version == "Latest" %}
            address-family {
                ipv6-unicast {
{% if Neighbor.SendDefault %}
                    default-originate {
                    }
{% endif %}{# SendDefault #}
                }
            }
{% endif %}{# Latest #}
            description {{ Neighbor.Name }}
            remote-as {{ Neighbor.ASN }}
        }
{% endif %}{# Deploy.Setting.IPv6 #}
{% endfor %}{# Neighbor (NSXEdges) #}
        parameters {
            router-id {{ Nested_Router.BGP.RouterID }}
        }
    }
{% if Nested_Router.Protocol == "OSPF" or Nested_Router.Protocol == "BOTH" %}
{% if Deploy.Setting.IPv4 %}
    ospf {
        area {{ Nested_Router.OSPF.Area }} {
            network {{ "{}/{}".format(Nested_Router.Interface.Uplink.IPv4.Address, Nested_Router.Interface.Uplink.IPv4.Prefix) | ipaddr('network/prefix') }}
        }
        log-adjacency-changes {
        }
        parameters {
            router-id {{ Nested_Router.OSPF.RouterID }}
        }
        redistribute {
            bgp {
            }
            connected {
                metric-type 2
            }
        }
    }
{% endif %}{# Deploy.Setting.IPv4 #}
{% if Deploy.Setting.IPv6 %}
    ospfv3 {
{#### Convert OSPF Area from decimal to dot decimal notation ####}
        area {{ (((Nested_Router.OSPF.Area / (256 | pow(3)))|int) % 256)|int }}.{{ (((Nested_Router.OSPF.Area / (256 | pow(2)))|int) % 256)|int }}.{{ (((Nested_Router.OSPF.Area / 256)|int) % 256)|int }}.{{ (Nested_Router.OSPF.Area % 256)|int }} {
            interface eth0
        }
        log-adjacency-changes {
        }
        parameters {
            router-id {{ Nested_Router.OSPF.RouterID }}
        }
        redistribute {
            bgp {
            }
            connected {
            }
        }
    }
{% endif %}{# Deploy.Setting.IPv6 #}
{% endif %}{# Nested_Router.Protocol == OSPF or BOTH #}
{% if Nested_Router.Protocol == "Static" %}
    static {
        route 0.0.0.0/0 {
            next-hop {{ Nested_Router.Interface.Uplink.IPv4.Gateway }} {
                distance 250
            }
        }
    }
{% endif %}{# Nested_Router.Protocol == Static #}
}
service {
    dhcp-server {
        shared-network-name vmnetwork {
            authoritative
            subnet {{ Nested_Router.Interface.VMNetwork.IPv4.Address | ipsubnet( Nested_Router.Interface.VMNetwork.IPv4.Prefix ) }} {
                default-router {{ Nested_Router.Interface.VMNetwork.IPv4.Address }}
                dns-server {{ Common.DNS.Server1.IPv4 }}
                lease 300
                range VMNetworkRange {
                    start {{ Net.VMNetwork.IPv4.Network }}.20
                    stop {{ Net.VMNetwork.IPv4.Network }}.50
                }
            }
        }
    }
    lldp {
        interface all {
        }
    }
{# If IPv6 is enabled, and using Latest VyOS version, enable IPv6 Router Advertisements on all interfaces #}
{% if Deploy.Setting.IPv6 and Deploy.Software.Router.Version == "Latest" %}
    router-advert {
{% for Interface, NetworkSettings in Nested_Router.Interface.items() %}
{# Uplink is eth0 as it's not a sub-interface and thus has no VLAN field #}
{% if Interface == "Uplink" %}
        interface eth0 {
            prefix {{ "{}/{}".format(NetworkSettings.IPv6.Address, NetworkSettings.IPv6.Prefix) | ipaddr('network/prefix') }} {
            }
        }
{% else %}{# It's a sub-interface on eth1 #}
        interface eth1.{{ NetworkSettings.VLAN }} {
            prefix {{ "{}/{}".format(NetworkSettings.IPv6.Address, NetworkSettings.IPv6.Prefix) | ipaddr('network/prefix') }} {
            }
        }
{% endif %}{# Interface == Uplink #}
{% endfor %}{# Interface, NetworkSettings #}
    }
{% endif %}{# Deploy.Setting.IPv6 #}
    ssh {
        port 22
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
    }
    host-name {{ Nested_Router.Name }}
    login {
        user vyos {
            authentication {
                encrypted-password $6$O7FITjwsv$FxOYWFceYe4NH7LlnPR1gEyMSjcRJxtXSvoghxJNDb98oXBbqg56U3msnXhBJuB/YAymJDgw5T1XFkSW.KXeQ0
                plaintext-password ""
            }
            level admin
        }
    }
    name-server {{ Common.DNS.Server1.IPv4 }}
    ntp {
{% if Deploy.Software.Router.Version == "Latest" %}
        listen-address {{ Nested_Router.Interface.Management.IPv4.Address }}
{% endif %}
{% for NTPServer in Nested_Router.NTP.Servers %}
        server {{ NTPServer.IPv4.Address }} {
        }
{% endfor %}
    }
{% if Deploy.Software.Router.Version == "Legacy" %}
    package {
        auto-sync 1
        repository community {
            components main
            distribution helium
            password ""
            url http://packages.vyos.net/vyos
            username ""
        }
    }
{% endif %}
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone UTC
}


/* Warning: Do not remove the following line. */
{% if Deploy.Software.Router.Version == "Legacy" %}
/* === vyatta-config-version: "cluster@1:config-management@1:conntrack-sync@1:conntrack@1:cron@1:dhcp-relay@1:dhcp-server@4:firewall@5:ipsec@4:nat@4:qos@1:quagga@2:system@6:vrrp@1:wanloadbalance@3:webgui@1:webproxy@1:zone-policy@1" === */
{% endif %}
{% if Deploy.Software.Router.Version == "Latest" %}
// vyos-config-version: "broadcast-relay@1:cluster@1:config-management@1:conntrack@1:conntrack-sync@1:dhcp-relay@2:dhcp-server@5:dhcpv6-server@1:dns-forwarding@2:firewall@5:https@2:interfaces@11:ipoe-server@1:ipsec@5:l2tp@3:lldp@1:mdns@1:nat@5:ntp@1:pppoe-server@3:pptp@2:qos@1:quagga@6:salt@1:snmp@1:ssh@1:sstp@2:system@17:vrrp@2:vyos-accel-ppp@2:wanloadbalance@3:webgui@1:webproxy@2:zone-policy@1"
{% endif %}
